
# LIST #

**CONSTRUCTOR** creating new list

In [1]:
# Different Ways to Create List
x = list()
x = ['text', 21, 'another', '17.8']
t = ('tup','ple')
z = list(t)

**LIST COMPREHENSION**

In [3]:
a = [n for n in range(20)]
b = [m**2 for m in range(12) if m>4]
print(a)
print(b)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
[25, 36, 49, 64, 81, 100, 121]

**DELETE LIST**

In [4]:
x= [5, 6, 7]
del[x[1]]
print(x)
del x  # List Deleted

[5, 7]

**APPEND & EXTEND & INSERT**

In [7]:
# Append
a = ['a', 'b', 'c']
b = 'd'
a.append(b)
print(a)

# Insert
j = ['k', 'l', 'm']
j.insert(0, 'j')
j.insert(0, [1, 2])
print(j)

# Extend
x = ['f', 'g', 'h']
y = ['i', 'j']
x.extend(y)
print(x)

['a', 'b', 'c', 'd']
[[1, 2], 'j', 'k', 'l', 'm']
['f', 'g', 'h', 'i', 'j']

**POP** pop the last item from the list

In [9]:
x = [9, 0, 8, 6]
x.pop()  # pop 6
print(x)
print(x.pop()) # pop 8
print(x)

[9, 0, 8]
8
[9, 0]

**REMOVE** remove an instance of a list

In [10]:
x = [9, 0, 8, 6]
x.remove(0)
print(x)

[9, 8, 6]

**REVERSE** reverse a list

In [11]:
x = [9, 0, 8, 6]
x.reverse()
print(x)

[6, 8, 0, 9]

**SORT** sort a list

In [13]:
x = [9, 0, 8, 6]
x.sort()  # normal order
print(x)

x.sort(reverse=True)  # reversed order
print(x)

[0, 6, 8, 9]
[9, 8, 6, 0]


# TUPLES

**IMMUTABLE, FIXED DATA, FASTER THAN LIST**

**CONSTRUCTOR** create new tuples

In [1]:
x = ()
x = (1, 2, 3)
x = 1, 2, 3
print(x)

(1, 2, 3)

*The tuple are immutable, but member objects may be mutable*

**DELETE TUPLE**

In [7]:
x = (1, 2, 3)
# del x[2]  # Fails
# x[1] = 3  # Fails

y = ([1, 2], 3)  # this work
del y[0][0]
print(y)

y += 4,
print(y)

([2], 3)
([2], 3, 4)

# SETS #

**NO DUPLICATE
FAST, 
CAN USE (INTERSECT, UNION), 
UNORDERED**

**CONSTRUCTOR** - *Creating new sets*

In [ ]:
x = {4,3,5,3,7,4}
print(x)

y = set()
print(y)

# Convert list to sets
l = [1, 2, 3, 4, 5, 6]
s = set(l)
print(s)

**SETS OPERATION**

In [28]:
# Addition
x = {5, 6, 7, 8, 9, 4}
x.add(9)
print(x)

# Remove
x.remove(6)
print(x)
print(x)

# Get Len
print(len(x))

# Check membership
print(5 in x)

# Pop Random Sets
print(x.pop(), x)

# Clear Set
x.clear()
print(x)

{4, 5, 6, 7, 8, 9}
{4, 5, 7, 8, 9}
{4, 5, 7, 8, 9}
5
True
4 {5, 7, 8, 9}
set()

**MATHEMATICAL SET OPERATIONS**

- INTERSECTION (AND) : **s1 & s2**
- UNIOR (OR) : **set1 | set2**
- SYMETRIC DIFFERENCE (XOR) : **set1 ^ set2**
- DIFFERENCE (in s1, butnot s2) : **set1 - set2**
- SUBSET (s2 contains s1): **set1 <= set2**
- SUPERSET (s1 contains s2): **set1 >= set2**

In [31]:
# Sample

s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

print(s1 & s2)
print(s1 | s2)
print(s1 ^ s2)
print(s1 - s2)
print(s1 <= s2)
print(s1 >= s2)

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2, 5, 6}
{1, 2}
False
False

# DICTIONARIES #

**KEY VALUE PAIRS , ASSOC ARRAY **

In [35]:
x = {'chicken': 7000, 'potatoes': 2000, 'tofu': 2000, 'beef': 10000}
print(x)

x = dict([('chicken', 7000), ('potatoes', 2000), ('tofi', 4000)])
print(x)

x = dict(chicken=7000, potato=5000, beef=12000)
print(x)

{'chicken': 7000, 'potatoes': 2000, 'tofu': 2000, 'beef': 10000}
{'chicken': 7000, 'potatoes': 2000, 'tofi': 4000}
{'chicken': 7000, 'potato': 5000, 'beef': 12000}

**DICTIONARY OPERATIONS**

In [40]:
# Add or Update Dict
x['vegetables'] = 2500
print(x)

# Delete
del x['beef']
del x['potato']
print(x)

# Get Len
print(len(x))

# Delete All items
x.clear()
print(x)

# Delete the Dict
del x

{'chicken': 7000, 'potato': 5000, 'vegetables': 2500}
{'chicken': 7000, 'vegetables': 2500}
2
{}

In [45]:
y = {'chicken' : 9000, 'vegetables' : 5000, 'beef': 20000, 'potato' : 3000}
print(y)
print(y.keys())
print(y.values())
print(y.items())

print('beef' in y.keys())
print('beef' in y.values())

{'chicken': 9000, 'vegetables': 5000, 'beef': 20000, 'potato': 3000}
dict_keys(['chicken', 'vegetables', 'beef', 'potato'])
dict_values([9000, 5000, 20000, 3000])
dict_items([('chicken', 9000), ('vegetables', 5000), ('beef', 20000), ('potato', 3000)])
True

**ITERATE DICTIONARY**

In [46]:
y = {'chicken' : 9000, 'vegetables' : 5000, 'beef': 20000, 'potato' : 3000}
for key in y:
    print(key, y[key])

chicken 9000
vegetables 5000
beef 20000
potato 3000

In [47]:
y = {'chicken' : 9000, 'vegetables' : 5000, 'beef': 20000, 'potato' : 3000}
for key,value in y.items():
    print(key, value)

chicken 9000
vegetables 5000
beef 20000
potato 3000